.material{
  margin-left: 50%;
  width: 50%;
  display: flex;
  white-space: nowrap;
}
.Components{
  margin-left: 450%;
}
.Upgrade {
  margin-left: 430%;
  width: 50%;
  display: flex;
  white-space: nowrap;
}

.Download{
  margin-left: 580%;
}
.social-icons {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  overflow-x: auto; 
  margin-left: 600%;
}

.social-icon {
  white-space: nowrap; 
  margin-right: 10px; 
}
